body {
    background-color: #9fc1cf;
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.card {
    background-color: #eeeeee;
    width: 600px;
    border-radius: 40px;
    border: 8px solid #d89c13;
    padding: 40px;
    text-align: center;
}

input {
    padding: 5px;
    width: 200px;
}

button {
    padding: 5px 10px;
    margin-top: 10px;
}

#pokemonImage {
    margin: 20px 0;
    height: 180px;
}

audio {
    margin: 20px 0;
    width: 70%;
}

.moves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

select {
    padding: 5px;
}

.team-container {
    margin-top: 30px;
    border-top: 2px solid black;
    padding-top: 20px;
}

.team-member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 10px 0;
}

.team-member img {
    height: 70px;
}

ul {
    text-align: left;
    margin: 0;
}
